

<div class="home">
    
    <h1> welcome to Ubank  </h1>
    <h2>This bank was created to help with day to day transactions,it's basically gonna help you to stay on top of your finance </h2>
    <h2>do you want to give it a try?</h2>

</div>
